.animatedButton {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 10px 22px;
    border: 4px solid transparent;
    font-size: 13px;
    background-color: hsl(var(--secondary) / 0.5);
    border-radius: 100px;
    font-weight: 800;
    color: hsl(var(--foreground));
    box-shadow: 0 0 0 2px hsl(var(--border) / 0.3);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.animatedButton svg {
    position: absolute;
    width: 18px;
    fill: currentColor;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animatedButton .arr1 {
    right: 16px;
}

.animatedButton .arr2 {
    left: -25%;
}

.animatedButton .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: hsl(var(--primary));
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animatedButton .text {
    position: relative;
    z-index: 10;
    transform: translateX(-10px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animatedButton:hover {
    box-shadow: 0 0 0 12px transparent;
    color: hsl(var(--primary-foreground));
    border-radius: 12px;
}

.animatedButton:hover .arr1 {
    right: -25%;
}

.animatedButton:hover .arr2 {
    left: 16px;
}

.animatedButton:hover .text {
    transform: translateX(12px);
}

.animatedButton:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px hsl(var(--primary) / 0.5);
}

.animatedButton:hover .circle {
    width: 300px;
    height: 300px;
    opacity: 1;
}