.button {
    --black-700: hsla(0 0% 12% / 1);
    --border_radius: 9999px;
    --transtion: 0.3s ease-in-out;
    --offset: 2px;
    --active: 0;

    cursor: pointer;
    position: relative;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    transform-origin: center;

    padding: 1rem 2rem;
    background-color: transparent;

    border: none;
    border-radius: var(--border_radius);
    transform: scale(calc(1 + (var(--active) * 0.1)));

    transition: transform var(--transtion);
}

:global(.dark) .button {
    --black-700: hsla(222 50% 25% / 1);
    --glow-color: hsla(222 80% 65% / 0.8);
}

:global(.light) .button {
    --black-700: hsla(222 57% 35% / 1);
    --glow-color: hsla(222 80% 45% / 0.8);
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    background-color: var(--black-700);

    border-radius: var(--border_radius);
    box-shadow: inset 0 0.5px hsl(0, 0%, 100% / 0.2), inset 0 -1px 2px 0 hsl(0, 0%, 0% / 0.5),
        0px 4px 10px -4px hsla(0 0% 0% / calc(1 - var(--active))),
        0 0 0 calc(var(--active) * 0.375rem) var(--glow-color);

    transition: all var(--transtion);
    z-index: 0;
}

.button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    background-color: var(--glow-color);
    background-image: radial-gradient(at 51% 89%,
            hsla(222, 57%, 80%, 1) 0px,
            transparent 50%),
        radial-gradient(at 100% 100%, hsla(222, 57%, 60%, 1) 0px, transparent 50%),
        radial-gradient(at 22% 91%, hsla(222, 57%, 60%, 1) 0px, transparent 50%);
    background-position: top;

    opacity: var(--active);
    border-radius: var(--border_radius);
    transition: opacity var(--transtion);
    z-index: 2;
}

.button:is(:hover, :focus-visible) {
    --active: 1;
}

.button:active {
    transform: scale(1);
}

.dots_border {
    --size_border: calc(100% + 2px);

    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: var(--size_border);
    height: var(--size_border);
    background-color: transparent;

    border-radius: var(--border_radius);
    z-index: -10;
}

.dots_border::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left;
    transform: rotate(0deg);

    width: 100%;
    height: 2rem;
    background-color: hsl(var(--primary));

    -webkit-mask: linear-gradient(transparent 0%, white 120%);
    mask: linear-gradient(transparent 0%, white 120%);
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.sparkle {
    position: relative;
    z-index: 10;

    width: 1.75rem;
}

.sparkle .path {
    fill: currentColor;
    stroke: currentColor;

    transform-origin: center;

    color: hsl(0, 0%, 100%);
}

.button:is(:hover, :focus) .sparkle .path {
    animation: path 1.5s linear 0.5s infinite;
}

.sparkle .path:nth-child(1) {
    --scale_path_1: 1.2;
}

.sparkle .path:nth-child(2) {
    --scale_path_2: 1.2;
}

.sparkle .path:nth-child(3) {
    --scale_path_3: 1.2;
}

@keyframes path {

    0%,
    34%,
    71%,
    100% {
        transform: scale(1);
    }

    17% {
        transform: scale(var(--scale_path_1, 1));
    }

    49% {
        transform: scale(var(--scale_path_2, 1));
    }

    83% {
        transform: scale(var(--scale_path_3, 1));
    }
}

.text_button {
    position: relative;
    z-index: 10;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 600;
}