.button {
    cursor: pointer;
    border: none;
    background: hsl(var(--foreground));
    color: hsl(var(--background));
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: grid;
    place-content: center;
    transition:
        background 300ms,
        transform 200ms;
    font-weight: 600;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
}

.button:hover {
    background: hsl(var(--primary));
    transform: scale(1.05);
}

.button__text {
    position: absolute;
    inset: 0;
    animation: text-rotation 8s linear infinite;
    font-size: 13.5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.button__text span {
    position: absolute;
    transform: rotate(calc(var(--angle, 19deg) * var(--index)));
    inset: 7px;
    text-align: center;
}

.button__circle {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: hsl(var(--background));
    color: hsl(var(--foreground));
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: color 0.3s;
}

.button:hover .button__circle {
    color: hsl(var(--primary));
}

.button__icon__base {
    transition: transform 0.3s ease-in-out;
}

.button:hover .button__icon__base {
    transform: translate(150%, -150%);
}

.button__icon__copy {
    position: absolute;
    transform: translate(-150%, 150%);
    transition: transform 0.3s ease-in-out 0.1s;
}

.button:hover .button__icon__copy {
    transform: translate(0);
}

@keyframes text-rotation {
    to {
        rotate: 360deg;
    }
}